<fieldset data-hook="admin_user_edit_discord_tag">
  <legend>Impersonate User</legend>
  <p>When using this feature you will be logged out of your current user.</p>
  <a href="<%= impersonate_user_path(@user) %>">Impersonate</a>
</fieldset>
